@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('@fontsource-variable/estedad/files/estedad-arabic-wght-normal.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('@fontsource-variable/estedad/files/estedad-latin-wght-normal.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Lalezar';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/lalezar/files/lalezar-arabic-400-normal.woff2') format('woff2');
}
